* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Fundo da página */
body {
    background: #c3ebd8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container principal */
.conteiner {
    background: #ffffff;
    padding: 3rem;
    border-radius: 70px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 20spx;
    text-align: center;
}

/* Título */
h1 {
    color: #a5ff3e;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
}

/* Labels e inputs */
label {
    display: block;
    color: #62a55f;
    font-weight: 500;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    border-color: #a5ec89;
    box-shadow: 0 0 5px rgba(168, 195, 238, 0.4);
    background-color: #fff;
}

/* Botão */
button {
    margin-top: 1.5rem;
    background: #31e48a;
    color: #cbf88f;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s, transform 0.2s, box-shadow 0.3s;
}

button:hover {
    background: #8ff375;
    box-shadow: 0 4px 12px rgba(74, 255, 195, 0.3);
    transform: translateY(-2px);
}

/* Resultado */
#result {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    color: #5cff11;
    font-weight: 600;
}